@model Airbrush.ViewModels.ContactPageViewModel


<div class="contact-page">
    
    <h1> @T("Contact") </h1>

    <button type="button" value="Form" onclick="location.href='@Url.Action( "Form", "Contact", new { area = "Airbrush" })'"><span>@T("Neem contact op")</span></button>
    
    <p>@Html.DisplayFor(x => x.MainText)</p>

    <p>@Html.DisplayFor(x => x.ExtraText)</p>

    <button type="button" value="Form" onclick="location.href='@Url.Action( "Form", "Contact", new { area = "Airbrush" })'" ><span>@T("Neem contact op")</span></button>

    <fieldset>
        <legend> @T("Contact info") </legend>


        @if (!String.IsNullOrWhiteSpace(Model.Phone))
        {
            <div class="label">T: @Html.DisplayFor(x => x.Phone)</div>
        }
        @if (!String.IsNullOrWhiteSpace(Model.Email))
        {
            <div class="label">E: @Html.DisplayFor(x => x.Email)</div>
        }

        <br />



        @if (!String.IsNullOrWhiteSpace(Model.City))
        {

                <h3>Adres</h3>
                if (!String.IsNullOrWhiteSpace(Model.AddressName))
                {
                    <div class="label">@Html.DisplayFor(x => x.AddressName)</div>
                }
                if (!String.IsNullOrWhiteSpace(Model.AddressLine))
                {
                    <div class="label">@Html.DisplayFor(x => x.AddressLine)</div>
                }
                if (!String.IsNullOrWhiteSpace(Model.PostalCode))
                {
                    <div class="label">@Html.DisplayFor(x => x.PostalCode)</div>
                }
                if (!String.IsNullOrWhiteSpace(Model.City))
                {
                    <div class="label">@Html.DisplayFor(x => x.City)</div>
                }
        }


        @if (!(String.IsNullOrWhiteSpace(Model.Link1Name) && String.IsNullOrWhiteSpace(Model.Link2Name)))
        { 
                <h3>Link</h3>
                if (!String.IsNullOrWhiteSpace(Model.Link1Name) && !String.IsNullOrWhiteSpace(Model.Link1Url))
                {
                    <p><a href=@Model.Link1Url>@Model.Link1Name</a></p>
                    <br />
                }

                if (!String.IsNullOrWhiteSpace(Model.Link2Name) && !String.IsNullOrWhiteSpace(Model.Link2Url))
                {
                    <p><a href=@Model.Link2Url>@Model.Link2Name</a></p>
                    <br />
                }

           
        }

    </fieldset>
</div>